@import "common/variable.scss";
@import "common/mixins.scss";


.landing-block {
  min-height: 100vh;
  padding-bottom: 5vh;
  
  &__first {
    background: rgba(darken($main_color, 5%), $main_opacity);
  }

  &__second {
    background: rgba(darken($main_color, 10%), $main_opacity - 0.1);
  }

  &__third {
    background: rgba(darken($main_color, 15%), $main_opacity - 0.2);
  }

  &__four {
    background: rgba(darken($main_color, 20%), $main_opacity - 0.3);
  }

  &__conteiner {
    width: $width_block;
    margin-left: $margin_left_block;
  }

  &__nav {
    @include  header;
  }

  &__text {
    line-height: 2em;
    padding-top: 5vh;
  }

  &__title {
    font-size: 3em;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
    line-height:1.3em;

    @include start_notebook {
      @include nicetext;
    }

    @include notebook {
      font-size: 1.9em;
    }

    @include tablet {
      font-size: 1.7em;
    }

    @include phone {
      font-size: 1.4em;
    }
  }

  &__sub-title {
    font-size: 2em;
    padding-top: 2vh;
    padding-bottom: 5vh;

    @include tablet {
      font-size: 1.4em;
    }

    @include phone {
      font-size: 1.2em;
    }
  }

  &__rules-list {
    list-style: none;
    margin: 0;
    margin-left: $margin_left_block * 1.5;


    li {
      margin-bottom: 10px;
      position: relative;

      &::before {
        content:"";
        position: absolute;
        left: -46px;
        top: -3px;
        width: 40px;
        height: 40px;
        background:url("bulet.png");
        background-size: cover;

        @include tablet {
          left: -34px;
          top: 0px;
          width: 30px;
          height: 30px;
        }

      }
    }
  }

  &__steps {
    counter-reset: li;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    div {
      position: relative;
      width: 30vw;
      border: 3px solid $brand_color;
      padding: 0.6em;
      margin-top: 3em;
      padding-top: 1.3em;
      background-image: url($body_bg);

      @include tablet {
        width: 70vw;
      }

      @include phone {
        width: 90vw;
      }

      &::before {
        position: absolute;
        top: -0.7em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-size: 1.1em;
        font-weight: bold;
        background-image: url($body_bg);
        counter-increment: li;
        border: 3px solid $brand_color;
        content: counter(li);
      }
    }

    @include tablet {
      div + div {
        margin-top: 3em;
      }
    }
  }

  &__button-block {
    padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    * {
      margin: 25px;
    }
  }

  &__rules{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &-item {
      width: 30%;
      margin-bottom: 5vh;
      word-wrap: break-word;

      @include notebook {
        width: 45%;
      }
      @include phone {
        width: 100%;
      }
    }

    &-img {
      margin-right: 1em;
      float: left;
    }
  }

}