@import "common/variable.scss";
@import "common/mixins.scss";

.room-container {
  min-height: 100vh;
  background: rgba(darken($main_color, 15%), $main_opacity);

  @include phone {
    font-size:11px;
  }

  .room-header {
    @include  header;
  }

  .room-content {
    min-height: 90vh;

    &__screen-status {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 90vh;
    }

    &__screen-night{
      margin: auto;
      font-size: 2.5em;
      @include nicetext;
    }

    &__screen-wait-vote{
      margin: auto;
      font-size: 1.5em;
    }

    &__screen-necrology {
      width: 70%;
      margin: auto;
      font-size: 2em;
    }

    &__button-block {
      text-align: center;
      height: 10vh;
      margin-top: 5vh;
    }

    &__public-url {
      font-size: 2.5em;
      width: 100%;
      text-align: center;
      height: 30vh;
      padding: 1vh 10vw;
      line-height: 1.5em;

      @include tablet {
        height: 20vh;
      }

      &-item {
        color: $brand_color;
      }
    }
  }
}