extends ./common.jade

block content
    div(class="landing-block landing-block__first")
        div(class="landing-block__nav")
            a(class="link" href="#about") О проекте
            a(class="link" href="#rules") Правила игры
        div(class="landing-block__title landing-block__conteiner") Онлайн версия популярной игры "Мафия"
        ol(class="landing-block__steps landing-block__conteiner")
            div Если вы никогода не слышали о "Мафии", о ужас,&nbsp;
                a(class="link link--out" target="_blank" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%84%D0%B8%D1%8F_(%D0%B8%D0%B3%D1%80%D0%B0)") это нужно срочно поправить.
            div Узнали, или всю жизнь знали, что это за игра, отлично, тогда приступим&nbsp;
                a(class="link" href="#rules") к основным правилам данного проекта.
            div Если вам уже не терпится начать игру, смело жмите кнопку "Создать комнату" и следуйте указаниям. Приятной игры.
        div(class="landing-block__button-block landing-block__conteiner")
            if has_room
                a.btn(href="/room") Вернуться в комнату
            a.btn(href="/clear_room") Создать комнату

    div(class="landing-block landing-block__second" id="rules")
        div(class="landing-block__title landing-block__conteiner") Общие правила игры
        div(class="landing-block__sub-title landing-block__conteiner") Роли:
        div(class="landing-block__rules landing-block__conteiner")
            each role in roles
                div(class="landing-block__rules-item")
                    img(class="card card--mini landing-block__rules-img" src=role.card_img)
                    b= role.title
                    =' - ' + role.description

        div(class="landing-block__sub-title landing-block__conteiner") Основные моменты игры:
        ul(class="landing-block__rules-list landing-block__conteiner")
            li
                | Если при любом голосовании не было достигнуто большинство голосов, выбор будет сделан случайным образом среди игроков, за которых отдали одинаково много голосов.
            li
                | Доктор может лечить себя.
            li
                | Доктор не может лечить одного игрока два раза подряд.
            li
                | Путана не может любить саму себя.
            li
                | Путана может спать с одним игроком сколько угодно раз.
            li
                | Если ночью стреляли в путану, то умирает она и ее клиент, об этом уже упоминалось в описании ее роли. Однако если доктор лечит кого-то из них двоих, то этот игрок остается жив. Например если стреляли в путану, но доктор спасал этой ночью ее, тогда умирает только ее клиент или же если доктор спасал клиента, то умирает только путана.
            li
                    | Мафия побеждает, как только их численность сравнялась с числом всех остальных ролей. Жители побеждают, если казнят всех мафиози.

    div(class="landing-block landing-block__third" id="about")
        div(class="landing-block__title landing-block__conteiner") О проекте